
<% content_for :title do %>
  Foodlog &ndash; <%= DateTime.now.to_fs(:nice_date) %>
<% end %>


<div id="entries">
  <% @entries.each do |entry| %>
    <%= render entry %>
  <% end %>
</div>

<!-- may need to move this to entry.html file -->
<div class="columns is-centered mt-6">
  <%= link_to "View all entries", archives_index_path, class: "button is-link is-outlined is-centered" %>
</div>


<!-- put on the card stuff in this page next time --->


